<div fxLayout
    class="container"
    fxLayoutAlign="space-between">
    <div class="info"
        fxFlex="30%"
        fxLayout="column"
        fxLayoutAlign="center center">
        <div class="imagenPrincipal">
          <img src="/assets/img/mujerFinal1.jpg" alt="">
        </div>
    </div>
    <div class="contenido"
        fxFlex="70%"
        fxLayout
        fxLayoutAlign="center center"
        style="background: rgb(183,150,172);
        background: linear-gradient(180deg, rgba(183,150,172,1) 0%, rgba(0,0,0,1) 46%)">
        <amb-login></amb-login>
    </div>

</div>
