<amb-title></amb-title>
<amb-container>
  <div class="tituloAnimado" style="color: #785964; ">
    <h1 style="position: relative; top: 5px; ; font-weight: bold; ">
      ¡Proyectos Personales!
    </h1>
  </div>
  <br>
  <div class="card-container">
    <div class="card">
      <div class="front">
        <img src="../assets/icons/delivery.svg" alt="">
        <br><br><br>
        <h1>App Delivery</h1>
        <p> Este proyecto se basa en la asignación mediante de pedidos mediante un administrador y la aceptación de pedidos
          asignados por parte de los repartidores registrados.
        </p>
        <p>
          Dicho proyecto consta de dos partes, la parte
           administrativa la cual está desarrollada en C# y la parte de repartidores la cual está desarrollada en Android.
        </p>
      </div>
      <div class="back">
      </div>
    </div>
  </div>

  <div class="card-container1">
    <div class="card1">
      <div class="front1">
        <img src="../assets/icons/bookshop.svg" alt="">
        <br><br><br>
        <h1>App BookShop</h1>
        <p> Este proyecto representa la gestión y administración de una tienda de libros mediante inventarios,
          registro de mercaderia, búsquedas, reportes de igual manera consta con un apartado en el que se muestra
          el proceso de entrega del proveedor de los nuevos libros.

        </p>
        <p>
          Dicho proyecto está desarrollado con ionic.
        </p>
      </div>
      <div class="back1">

      </div>
    </div>
  </div>

  <div class="card-container2">
    <div class="card2">
      <div class="front2">
        <img src="../assets/icons/bus2.svg" alt="">
        <br><br><br>
        <h1>App Bus Turistico</h1>
        <p> Este proyecto está centrado en el turismo mostrando las rutas disponibles de cada bus, asi como sus
          horarios laborales, los lugares frecuentes
          y los servicios que ofrece cada lugar.
        </p>
        <p>
          Dicho proyecto es manejado por un administrador, usuarios y choferes de los buses, todas estás interfaces estan desarrolladas en Angular
          con la ayuda de componentes de Bootstrap.
        </p>
      </div>
      <div class="back2">
      </div>
    </div>
  </div>
</amb-container>
