<br> <br> <br> <br> <br> <br> <br> <br>
<br> <br> <br> <br> <br> <br> <br> <br>
<br> <br> <br> <br> <br> <br> <br> <br>
  <div class="tituloPrincipal" >
    <strong>Hola! Yo soy Dayanara Robles</strong>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="tituloAnimado" style="color: white">
    <p style="position: relative; top: 5px;">
      ¡Front-end developer on the way!
    </p>
  </div>
  <br> <br> <br> <br> <br>

    <p class="parrafoInicial">
      Desarrolladora centrada en el diseño, con mente curiosa
      <br> <br>
      que disfruta resolver retos y obstaculos
      <br> <br>
      que se basan en el mundo real.
    </p>
    <br>
    <div>
      <a href="./about">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Conóceme más
      </a>
    </div>
    <br> <br> <br> <br> <br>
    <div class="container">
           <a class="gitBtn" href="https://github.com/dayanararobles15/dayanararobles15">
          <img src="assets/img/logo2.png" alt="" class="gitbtnimg">
          <h2 class="title">GitHub</h2>
      </a>
    </div>

    

