<amb-title>
</amb-title>
<amb-container>
  <br>
  <div class="tituloAnimado" style="color:white">
    <p style="position: relative; top: 5px;">
      !Conocimientos e Intereses!
    </p>
  </div>
  <br>
  <div class="skill1">
    <h1 class="tecno">Java</h1>
    <div class="neon"></div>
    <h1 class="porcentaje">80%</h1>
  </div>
  <br>

  <div class="skill2">
    <h1 class="tecno1">C#</h1>
    <div class="neon1"></div>
    <h1 class="porcentaje1">60%</h1>
  </div>
  <br>

  <div class="skill3">
    <h1 class="tecno2">PHP</h1>
    <div class="neon2"></div>
    <h1 class="porcentaje2">40%</h1>
  </div>
  <br>
  <div class="skill4">
    <h1 class="tecno3">TypeScript</h1>
    <div class="neon3"></div>
    <h1 class="porcentaje3">60%</h1>
  </div>
  <br>
  <div class="skill5">
    <h1 class="tecno4">Angular</h1>
    <div class="neon4"></div>
    <h1 class="porcentaje4">60%</h1>
  </div>
  <br>
  <div class="skill6">
    <h1 class="tecno5">HTML</h1>
    <div class="neon5"></div>
    <h1 class="porcentaje5">80%</h1>
  </div>
  <br>
  <div class="skill4">
    <h1 class="tecno6">CSS</h1>
    <div class="neon6"></div>
    <h1 class="porcentaje6">80%</h1>
  </div>
<br><br><br><br><br>
<div class="card-container">
  <div class="card">
    <img src="../assets/icons/futbol.svg" alt="">
    <p>Fútbol</p>
  </div>
  <div class="card">
    <img src="../assets/icons/music.svg" alt="">
    <p>Música</p>
  </div>
  <div class="card">
    <img src="../assets/icons/foto.svg" alt="">
    <p>Fotografía</p>
  </div>
  <div class="card">
    <img src="../assets/icons/mon.svg" alt="">
    <p>Montañismo</p>
    </div>
    <div class="card">
      <img src="../assets/icons/animal.svg" alt="">
      <p>Animales</p>
      </div>
    </div>


</amb-container>
