<amb-title></amb-title>
<amb-container>
  <div class="tituloAnimado" style="color:white">
    <p style="position: relative; top: 5px;">
      !Formación Académicia y Contacto!
    </p>
  </div>

  <div class="card-container">
    <div class="card">
      <img src="../assets/icons/graduate.svg" alt="Card 1">
      <div>
        <p>Unidad Educativa "Hispano América"</p>
        <p>Bachiller en Informática</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/icons/graduate.svg" alt="Card 2">
      <div>
        <p>Universidad Técnica de Ambato</p>
        <p>Carrera de Software</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/icons/curso.svg" alt="Card 3">
      <div>
        <p>Curso de Fundamentos y algoritmos de programación</p>
        <p>Año 2015</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/icons/curso.svg" alt="Card 4">
      <div>
        <p>Curso Conceptos Generales de Java</p>
        <p>Año 2017</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/icons/curso.svg" alt="Card 5">
      <div>
        <p>Curso Google Cloud</p>
        <p>Año 2022</p>
      </div>
    </div>
    <div class="card">
      <img src="../assets/icons/curso.svg" alt="Card 6">
      <div>
        <p>Curso Node.js</p>
        <p>Año 2023</p>
      </div>
    </div>
  </div>
  <div class="center-line"></div>

  <div class="container2">
    <div class="card1">
      <div class="card-text">
        <p>Dayanara Robles Sánchez</p>
        <p>drobles2025@uta.edu.ec</p>
        <p>dayanararobles15@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="container3">
    <a class="gitBtn" href="https://github.com/dayanararobles15/dayanararobles15">
      <img src="assets/img/logo2.png" alt="" class="btnimg">
      <h2 class="title">GitHub</h2>
  </a>
  </div>
  <div class="container3">
    <a class="gitBtn" href="https://www.linkedin.com/in/dayanara-robles-998298264/" style="left: -35px;">
      <img src="assets/img/ln.png" alt="" class="btnimg">
      <h2 class="title">LinkedIn</h2>
  </a>
  </div>
  <div class="container3">
    <a class="gitBtn" href="https://www.youtube.com/channel/UCie0hkyZnW7W2y0Ve55xgow" style="left: -65px;">
      <img src="assets/img/play.png" alt="" class="btnimg">
      <h2 class="title">Youtube</h2>
  </a>
  </div>

</amb-container>
