<amb-title></amb-title>
<amb-container>
  <br>
  <br>
  <br>
<div class="container1">
  <div class="card">
    <div class="border">

    </div>
  </div>
</div>

<div class="card2">
  <div class="card-body">
    <br><br><br>
    <div class="tituloAnimado" style="color: #785964; ">
      <h1 style="position: relative; top: 5px; font-weight: bold; ">
        ¡Información sobre mi!
      </h1>
    </div>
    <br>
    <p class="card-text">
      Hola mi nombre es Dayanara Robles soy estudiante de la carrera de Software de la Universidad Técnica de Ambato, yo tengo 22 años de edad y resido en la ciudad de Ambato.
    </p>
    <p class="card-text">
    Estoy a punto de graduarme como ingeniera de software y estoy emocionada por comenzar mi carrera en este campo. Durante mis años de estudio, aprendí sobre diferentes lenguajes de programación, tecnologías y metodologías de desarrollo de software. Además, participé en proyectos de equipo y trabajé en aplicaciones web y móviles.
  </p>
  <p class="card-text">
    Además de mi formación técnica, también tengo habilidades en colaboración y resolución de problemas. Estoy dispuesto a aprender y crecer profesionalmente en mi carrera.
    Mi objetivo a largo plazo es convertirme en un ingeniero de software líder y trabajar en proyectos que tengan un impacto positivo en la sociedad. Estoy emocionado por lo que el futuro me deparará en esta industria en constante evolución y estoy listo para enfrentar los desafíos que se presenten.


  </p>





  </div>
</div>

</amb-container>
